[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
jupyter = "*"
twine = "*"

[packages]
pandas = "*"
scipy = "*"
matplotlib = "*"

[requires]
python_version = "3.8"
